   :focus{ outline: 0; }

    	body{
    		font-family: 'Lucida Grande', Arial, sans-serif;
    		color: #fff;
    		background: #000;
    		font-size: 15px;
    		padding: 40px 0 0 0;
    		line-height: 18px;
    	}
	
    	*{
    		margin: 0;
    		padding: 0;
    	}
	
    	a{
    		text-decoration: none;
    	}
    	
    	a.permalink {
    	    white-space: nowrap;
    	}
	
    	#header{
    		width: 650px;
    		margin: 0px auto;
    	}
	
    	#header #left{
    		float: left;
    		background: url(http://www.tumblr.com/themes/9/headerleft.gif) left center no-repeat;
    		width: 585px;
    		height: 43px;
    		border-right: 1px #1F4CA3 solid;
    		margin-top: 1.5px;
    	}
	
    	#header #left h1{
    		line-height: 46px;
    		margin: 0 0 0 20px;
    		font-weight: normal;
    	}
	
    	#header #left h1 a{
    		color:#fff;
    		text-shadow: #000 0px 1px 0px;
    	}
	
    	#header #RSS{
    		float: right;
    		height: 43px;
    		width: 64px;
    		border-bottom: 1px #E39329 solid;
    		margin: 0;
    		padding: 0;
    	}
	
    	#header #RSS a{
    		display: block;
    		height: 43px;
    		width: 64px;
    		text-indent: -9999px;
    		background: url(http://www.tumblr.com/themes/9/rss.gif) right center no-repeat;
    		margin: 0 -1px 0 0;
    	}
	
    	#header #RSS a:hover{
    		background: url(http://www.tumblr.com/themes/9/rss_o.gif) center center no-repeat;
    	}
	
    	#container div.post .date a{
    		color: #777;
    		border-bottom: 1px solid #aaa;
    		margin: 0 0 0 5px !important;
    	}
	
    	#container div.post .date a:hover{
    		color: #eee;
    		border-bottom: 1px solid #fff;
    	}
	
    	#container div.post div.link .date{
    		line-height: 34px;
    	}
	
    	.clear{
    		clear: both;
    	}
	
    	#container{
    		width: 648px;
    		margin: 0px auto;
    		background: url(http://www.tumblr.com/themes/9/c_bg.gif) center center repeat-y;
    		padding: 0 1px 1px 1px;
    	}
	
    	#container a{
    		color: #2a69bb;
    	}
	
    	#container a:hover{
    		color: #3181ea;
    	}
	
    	#container p{
    		padding: 0;
    		margin: 0 0 18px 0;
    	}
	
    	#container #description{
    		background: #2b2b2b url(http://www.tumblr.com/themes/9/ds_bg.gif) top left repeat-x;
    		padding: 20px 20px 20px 20px;
    		border-bottom: 1px #353535 solid;
    		border-top: 1px #4168A8 solid;
    		margin: -1px 0 1px 0;
    	} 
	
    	#container #description a{
    		background: transparent !important;
    		padding: 0 !important;
    	} 
	
    	#container #description div.i{
    		background: url(http://www.tumblr.com/themes/9/i.gif) left center no-repeat;
    		padding: 0 0 0 40px;
    		margin: 0;
    	} 
	
    	#container div.post{
    		position: relative;
    		margin: 0 0 30px 0;
    		padding: 30px 45px 0 45px;
    		clear: both;
    		border-top: 1px #222 solid;
    	}
	
    	#container div.post div.regular h2{
    		font-weight: normal;
    		margin: 0 0 8px 0;
    		line-height: 18px;
    	}
	
    	#container div.post div.regular h2 a{
    		background: transparent !important;
    		padding: 0 !important;
    		text-shadow: #000 0px 1px 2px;
    		color: #fff;
    		font-size: 18px;
    	}
	
    	#container div.post div.regular blockquote{
    		margin: 0 0 0 20px;
    		border-left: 1px #333 solid;
    		padding: 0 0 0 10px;
    	}
	
    	#container div.post div.regular ul{
    		list-style: circle;
    		margin: 0 0 0 20px;
    	}
	
    	#container div.post div.regular ul li{
    		margin: 0 0 8px 0;
    	}
	
    	#container div.post div.link{
    		margin: 0 0 0 0;
    	}
	
    	#container div.post div.link div.link-bg{
    		background: url(http://www.tumblr.com/themes/9/link-l.gif) left center no-repeat;
    		padding: 26px 0 26px 19px;
    		margin: 0 0 0 -45px;
    		font-size: 14px;
    		display: inline;
    	}
	
    	#container div.post div.link div.link-bg a.link{
    		background: url(http://www.tumblr.com/themes/9/link-r.gif) right center no-repeat !important;
    		padding: 26px 35px 26px 0 !important;
    		margin: 0;
    		font-size: 14px;
    		color: #fff !important;
    		text-shadow: #000 0px 1px 1px;
    	}
	
    	#container div.post div.link div.link-bg a.link:hover{
    		background: url(http://www.tumblr.com/themes/9/link-r-o.gif) right center no-repeat !important;
    		color: #161616 !important;
    		text-shadow: #000 0px 0px 0px;
    	}
	
    	#container div.post div.link .description{
    		line-height: 34px;
    		display: inline;
    		margin: 0 0 0 10px;
    	}
	
    	#container div.post div.photo{
    		margin: 0;
    		padding: 0 0 1px 0;
    	}
	
    	#container div.post div.photo img{
    		float: left;
    		margin: 0 10px 0 0;
    		border-width: 0px;
    	}
    	
    	#container div.post div.photo .caption{
    	    float: left;
    		margin: 0px -30px 0 0;
    		width: 150px;
	    }
	    
	    #container div.post div.audio .caption{
    		float: right;
    		width: 325px;
    	}
    	
	
    	#container div.post div.video{
    		position: relative;
    	}
		
    	#container div.post div.video .caption{
    		position: absolute;
           	top: 0;
           	right: 0;
           	width: 145px;
        	float: right;
        	padding: 0;
        	margin: 0 0 0 0;
    	}
	
    	#container div.post div.quote span.quote{
    		color: #fff;
    		text-shadow: #000 0px 1px 2px;
    	}
	
    	#container div.post div.quote span.long{
    		font-size: 14px;
    		line-height: 18px;
    		margin: 0 0 0 -7px;
    	}
	
    	#container div.post div.quote span.medium{
    		font-size: 18px;
    		line-height: 20px;
    		margin: 0 0 0 -10px;
    	}
	
    	#container div.post div.quote span.medium big a{
    		vertical-align: -2px;
    	}
	
    	#container div.post div.quote span.short{
    		font-size: 22px;
    		line-height: 24px;
    		margin: 0 0 0 -14px;
    	}
	
    	#container div.post div.quote span.short big a{
    		vertical-align: -5px;
    	}
	
    	#container div.post div.quote big a{
    		background: transparent !important;
    		padding: 0 !important;
    		font-family: Georgia;
    	}
	
    	#container div.post div.quote div.source{
    		text-align: right;
    		margin: 5px 0 0 0;
    	}
	
    	#container div.post div.conversation{
            	width: 500px
            }
        
        #container div.post div.conversation h2{
            	margin: 0 0 10px 0;
            }
        
            #container div.post div.conversation ul {
                list-style-type: none;
                margin: 0 0 5px 0;
                padding: 0;
            }
        
                #container div.post div.conversation ul li {
                    padding: 4px 0px 4px 0;
                    color: #fff;
                    margin-bottom: 0px;
                }
        
                    #container div.post div.conversation ul li span.label {
                        font-weight: bold;
                    }
	
    	#navigation{
    		background: url(http://www.tumblr.com/themes/9/nav.gif) center center no-repeat;
    		height: 38px;
    		width: 650px;
    		line-height: 38px;
    		margin: 0px auto;
    		position: relative;
    		clear: both;
    	}
	
    	#navigation span{
    		text-align: center;
    		margin: 0 25% 0 25%;
    		color: #999;
    		width: 50%;
    		display: block;
    		position: absolute;
    		top: 0;
    		left: 0;
    		z-index: 20;
    	}
	
    	#navigation a.next{
    		float: right;
    		background: url(http://www.tumblr.com/themes/9/next.gif) center center no-repeat;
    		text-indent: -9999px;
    		display: block;
    		height: 38px;
    		width: 48px;
    		margin: 0 0 0 0;
    		z-index: 5000;
    		position: absolute;
    		top: 0;
    		right: 0;
    	}
	
    	#navigation a.next:hover{
    		background: url(http://www.tumblr.com/themes/9/next-o.gif) center center no-repeat;
    	}
	
    	#navigation a.prev{
    		float: left;
    		background: url(http://www.tumblr.com/themes/9/prev.gif) center center no-repeat;
    		text-indent: -9999px;
    		display: block;
    		height: 38px;
    		width: 49px;
    		position: absolute;
    		top: 0;
    		left: 0;
    		margin: 0 0 -38px 0;
    		z-index: 5000;
    	}
	
    	#navigation a.prev:hover{
    		background: url(http://www.tumblr.com/themes/9/prev-o.gif) center center no-repeat;
    	}
	
    	#footer{
    		width: 650px;
    		margin: 0px auto;
    		padding: 40px 0 30px 0;
    		text-align: center;
    	}
	
    	#footer a{
    		background: url(http://www.tumblr.com/themes/9/alink.gif) right center no-repeat;
    		padding: 0 14px 1px 0;
    		color: #2a69bb;
    		margin: 0 2px 0 2px;
    	}
	
    	#footer a:hover{
    		background: url(http://www.tumblr.com/themes/9/alink_o.gif) right center no-repeat;
    		color: #3181ea;
    	}
    	
    	{CustomCSS}
    </style>
    
    <!--[if IE]>
        <style type="text/css">
            div.post div.quote span.quote big {
                line-height: 20px;
            }

            div.post div.photo img {
                margin: 0 10px 20px 0;
            }

			#header #left h1{
				font-size: 20px;
			}
		
			#container div.post div.quote span.long{
				margin: 0 0 0 -7px;
			}
			
			#container div.post div.quote span.medium{
				margin: 0 0 0 -11px;
			}
			
			#container div.post div.quote span.short{
				margin: 0 0 0 -11px;
			}
		
			#container div.post div.quote div.short{
				margin: 15px 0 0 0;
			}
		
			#header #RSS{
				border-bottom: 0px #E39329 solid;
			}
        </style>
    <![endif]-->

    <!--[if lt IE 7]>
        <style type="text/css">
            div.post div.quote span.quote big {
                line-height: 20px;
            }
		
			#header #left{
				background: url(http://www.tumblr.com/themes/9/headerleft.gif) left center no-repeat;
				width: 585px;
				border-right: 1px #1F4CA3 solid;
				margin-top:1.5px;
			}
		
			#header #RSS{
				height: 43px;
				width: 64px;
				border-bottom: 0px #E39329 solid;
				margin: 2px 0 0 0;
			}