/* Code Highlighting
   From http://www.danwebb.net/stylesheets/base.css */

/** RUBY / JAVASCRIPT **/

pre.code {
  background: #141414;
  color: #FFF;
  padding: 1.5em;
  -moz-border-radius: 5px 15px 5px 15px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  overflow-x: auto;
}

code.code span.comment {
  color: DarkOrchid;
}

code.code span.multiline {
  color: LightGreen;
}

code.code span.multiline_singlequote {
  color: LightCoral;
}

code.code span.string {
  color: #61CE3C;
}

code.code span.brackets {
}

code.code span.decorator {
  color: Gold;
}

code.code span.symbol {
  color: #6BCFF7;
}

code.code span.reserved {
  color: Peru;
}

code.code span.builtin {
  color: SteelBlue;
}

code.code span.symbol {
  color: #07DFFC;
}

code.code span.operators {
  color: #888;
}

code.code span.constants {
  color: #BD48B3;
}
